<header class="header">
  <div class="container">
    <div class="logo">
      <img src="../assets/img/logo.png" alt="" />
    </div>
    <nav class="menu">
      <ul>
        <li class="menu-item">
          <a href="#">Главная</a>
        </li>
        <li class="menu-item">
          <a href="#cars">Автомобили</a>
        </li>
        <li class="menu-item">
          <a href="#price">Бронирование авто</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<section class="main" [ngStyle]="bgPos">
    <div class="container">
        <div class="main-info">
            <h1 class="main-title">Аренда премиальных автомобилей</h1>
            <div class="main-text">В нашем клубе имеется солидная коллекция спортивных автомобилей — от достаточно распространенных серийных машин до настоящего гоночного эксклюзива. Воспользуйтесь уникальной возможностью побывать за рулем настоящей легенды и узнать, на что она способна за пределами гоночной трассы!
            </div>
            <div class="main-action">
                <button class="btn" id="main-btn" (click)="goScroll(cars)">Посмотреть автомобили</button>
            </div>
        </div>
    </div>

</section>

<section id="cars" #cars>
    <div class="container">
        <h2 class="sub-title">Наш автопарк</h2>
        <div class="car-items">
          <div class="car-item" *ngFor="let car of carsData">
            <div class="car-item-img">
              <img [src]="'../assets/img/'+car.img" alt="" />
            </div>
            <div class="car-item-title">{{car.name}}</div>
            <div class="car-item-info">
              <div class="car-item-point">
                <img src="../assets/img/transmission.png" alt="" />
                <div>Коробка</div>
                <div>{{car.gear}}</div>
              </div>
              <div class="car-item-point">
                <img src="../assets/img/wheel.png" alt="" />
                <div>Двигатель</div>
                <div>{{car.engine}} л.с.</div>
              </div>
              <div class="car-item-point">
                <img src="../assets/img/year.png" alt="" />
                <div>Год выпуска</div>
                <div>{{car.year}}</div>
              </div>
            </div>
            <div class="car-item-action">
              <button class="btn car-btn" (click)="goScroll(price, car)">Забронировать</button>
            </div>
          </div>
        </div>
      </div>
</section>



<section class="price" id="price" #price>
    <div class="container">
        <h2 class="sub-title">Узнать цену и забронировать</h2>
        <div class="price-text">
            Заполните данные, и мы перезвоним вам для уточнения всех деталей бронирования
        </div>
        <form class="price-form" [formGroup]="priceForm">
          <div class="mar-bottom">
            <input type="text" class="price-input" id="name" placeholder="Ваше имя" formControlName="name">
            <span class="error" *ngIf="priceForm.get('name')?.invalid && priceForm.get('name')?.touched">Введите имя!</span>
          </div>
          <div class="mar-bottom">
            <input type="text" class="price-input" id="phone" placeholder="Ваш телефон" formControlName="phone">
            <span class="error" *ngIf="priceForm.get('phone')?.invalid && priceForm.get('phone')?.touched">Введите телефон!</span>
          </div>
          <div class="mar-bottom">
            <input type="text" class="price-input" id="car-text" placeholder="Автомобиль, который вас интересует" formControlName="car">
            <span class="error" *ngIf="priceForm.get('car')?.invalid && priceForm.get('car')?.touched">Введите название автомобиля!</span>
          </div>
            <button class="btn" type="button" [disabled]="priceForm.invalid" (click)="onSubmit()">Узнать цену</button>
        </form>
        <img src="../assets/img/rolls.png" alt="" class="price-img" [ngStyle]="trans">
    </div>
</section>

<footer>
    <div class="container">
        <div class="logo">
            <img src="../assets/img/logo.png" alt="" />
        </div>
        <div class="rights">
            <p>© 2023. Все права защищены</p>
        </div>
    </div>
</footer>
